/* block-1 */

    .block-1{z-index: 0;margin-bottom: -90px;

        .block-1-slider{position: absolute;width: 100%;height: 100%;overflow: hidden;
            .slick-list{height: 100%;}
            .slick-slide{position: relative;
                img{max-width: none;position: absolute;top:0;left:50%;transform:translate(-50%, 0);}
            }
        }

        .block-1-main{background-image:url(../images/top-block-background.png);position: relative;padding-top: 35px;color:#fff;
            &:before, &:after{content:'';display: block;position: absolute;pointer-events:none;background-repeat: no-repeat;}
            &:before{background-image:url(../images/top-block-left-background-img.png);width: 942px;height: 833px;left:-650px;top:-75px;}
            &:after{background-image:url(../images/top-block-right-background-img.png);width: 600px;height: 526px;right:-344px;top:152px;}

            .logo{text-align: center;font-weight: 300;font-size: 19px;color:#fff;margin-bottom: 45px;
                img{margin-bottom: -13px;}
            }

            .top-block-text{font-size: 40px;font-weight: 200;text-align: center;margin-bottom: 189px;
                p{line-height: 1.1;margin: 0;
                    &>span{font-weight: 300;font-size: 44px;}
                    b{font-weight: 700;font-size: 44px;
                        span{font-weight: 800;font-size: 40px;}
                    }
                }
            }

            .info-block-items{
                &:before{content: '';position:absolute;display: block;width: 1221px;height: 446px;background-image:url(../images/top-block-line.png);background-repeat: no-repeat;top:-35px;left:calc(50% - 610px);pointer-events:none;}

                .info-item{position: absolute;
                    .info-item-img{width: 15px;height: 15px;border-radius: 50%;border:1px solid #fff;position: relative;margin: 0 auto 15px auto;
                        &:before{content:'';display: block;position: absolute;transform:translate(-50%, -50%);width: 7px;height: 7px;background-color: #fff;border-radius: 50%;}
                    }
                    .info-item-text{text-align: center;font-family: 'ChalkboardSE', sans-serif;font-weight: 300;line-height: 1.25;}

                    &:nth-child(1){top:270px;left: 2.5%;
                        .info-item-img{
                            &:before{left:7px;top:7px;}
                        }
                    }

                    &:nth-child(2){top: 335px;left:12.4%;
                        .info-item-img{
                            &:before{left:7px;top:7px;}
                        }
                    }

                    &:nth-child(3){top: 377px;left:26%;
                        .info-item-img{
                            &:before{left:7px;top:7px;}
                        }
                    }

                    &:nth-child(4){top: 403px;left:42.4%;
                        .info-item-img{
                            &:before{left:6px;top:6px;}
                        }
                    }

                    &:nth-child(5){top: 378px;left:67.6%;
                        .info-item-img{
                            &:before{left:5px;top:7px;}
                        }
                    }

                    &:nth-child(6){top: 336px;left:81%;
                        .info-item-img{
                            &:before{left:5px;top:7px;}
                        }
                    }

                    &:nth-child(7){top: 271px;left:90%;
                        .info-item-img{
                            &:before{left:5px;top:7px;}
                        }
                    }

                }

            }

            .top-block-info-main{position: relative;margin-bottom: 20px;

                .top-block-info{display: flex;justify-content: space-between;
                    .top-block-info-wrap{display: flex;align-items: center;width: calc(50% - 23px);font-size: 17px;border-width: 1px 1px 1px 0;border-radius:0 12px 12px 0;border-style:solid;padding:20px 20px 15px 20px;border-color: rgba(255, 255, 255, .35);line-height:1.25;
                        p{margin: 0;}
                        &:first-child{font-size: 28px;border-width: 1px 0 1px 1px;border-radius: 12px 0 0 12px;justify-content: center;}
                    }
                }

                .top-block-info-center-line{position: absolute;width: 55px;height: 100%;top:0;left:calc(50% - 27.5px);
                    &:before{content:'';display: block;position: absolute;top:-11.5px;left:calc(50% - 12.5px);width: 25px;height: 23px;background-image:url(../images/alert-sumbol.png);background-repeat: no-repeat;}
                    &:after{content:'';display: block;position: absolute;top:25px;left:calc(50% - 0.5px);height: calc(100% - 40px);width: 1px;background-color: rgba(255, 255, 255, .35);}

                    .scroll-bottom-button{position: absolute;bottom:-28px;left:calc(50% - 18px);width: 36px;height: 36px;border:2px solid #fff;border-radius: 50%;cursor:pointer;transition:border-color 300ms ease;
                        &:before, &:after{content:'';display: block;position: absolute;width: 14px;height:2px;border-radius: 5px;background-color:#fff;left:calc(50% - 7px);top:calc(50% - 1px);transform-origin:50% 50%;transition:background-color 300ms ease;}
                        &:before{transform:translate(-5px, 2px) rotate(45deg);}
                        &:after{transform:translate(5px, 2px) rotate(-45deg);}

                        &:hover{border-color:orange;
                            &:before, &:after{background-color: orange;}
                        }

                    }

                }
            }

            .tob-block-footer-img{
                img{position: relative;left: 50%;transform:translate(-50%, 0);max-width: none;}
            }

        }

    }

/* /block-1 */