@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
    .block-2{min-height: 413px;margin-top: 80px;margin-bottom: 119px;background-color: #fff;
        &:after{top: -97px;height: 114px;}
        &:before{ bottom: -104px;height: 104px;}
        .block-2-title{text-align: center;padding: 30px 0px;
            h2{font-size: 40px;}
        }
        .block-2-text{align-items:center;flex-direction:column;
            p{margin: 0;}
            .aside{
                &.left{padding-right: 0px;}
                &.right{flex:1;padding-top: 15px;font-size: 16px;color: #212121;line-height: 1.2;}
            }
        }
    }

    .block-3{padding-top: 85px;
        .block-3-title{padding: 30px 0px;
            h2{font-size: 40px;line-height: 45px;}
        }
        .block-3-items{justify-content: space-around;padding-top: 20px;padding-bottom: 5px;flex-wrap: wrap;
            .item{display: flex;flex-direction:column;padding: 0 15px;margin-bottom: 15px;}
            .item-img{display:flex;justify-content: center;align-items: center;flex:1;height: 90px;}
            .item-text{font-size: 18px;}
        }
    }

    .block-4{
        .block-4-title{padding: 22px 0px;
            h2{font-size: 40px;line-height: 35px;}
        }
        .block-4-list{
            li{padding-left: 48px;font-size: 19px}
        }
        .block-4-kitty{height: 355px;display: flex;align-items:center;justify-content:center;
            &:after{max-height: 405px;}
            .kitty{}
            .kitty-text{font-size: 30px;}
        }
    }

}
@media screen and (max-width: 666px){
    .block-4{
        .block-4-kitty{
            .kitty{padding-left: 50%;}
            .kitty-text{font-size: 25px;}
            &:after{background-position: 45% center;}
        }
    }
}
@media screen and (max-width: 479px){
    .block-3{
        .block-3-items{
            .item{width: 100%;align-items: center;margin-bottom: 20px;}
        }
    }
}
@media screen and (max-width: 320px){

}