.block-2{min-height: 413px;margin-top: 114px;margin-bottom: 119px;background-color: #fff;position: relative;z-index: 1;
    &:after{content: '';position: absolute;top: -114px;left: 0;width: 100%;height: 114px;background:transparent url('../images/block-2-top.png') center top no-repeat;}
    &:before{content: '';position: absolute;bottom: -119px;left: 0;width: 100%;height: 120px;background:transparent url('../images/block-2-bottom.png') center bottom no-repeat;}

    .block-2-title{text-align: center;padding: 46px 0px;
        h2{font-size: 60px;color: #1a2858;font-weight: 300;margin: 0;
            b{font-weight: bold;}
        }
    }
    .block-2-text{display: flex;align-items:flex-start;justify-content:center;
        p{margin: 0;}
        .aside{flex:1;
            &.left{padding-right: 10px;}
            &.right{flex:2.72;padding-top: 15px;font-size: 20px;color: #212121;line-height: 1.2;}
        }
    }
}


.block-3{background:#202A52 url('../images/block-3.jpg') center top no-repeat;background-size: cover;position: relative;z-index: 0;margin-top: -97px;padding-top: 147px;
    .block-3-wrap{
        &:before{content: '';position: absolute;bottom: 0px;left: 0;width: 100%;height: 116px;background:transparent url('../images/block-3-bottom.png') center bottom no-repeat;}
    }
    .mbox{position: static;}
    .block-3-title{text-align: center;padding: 46px 0px;color: white;
        h2{font-size: 60px;color: #fff;font-weight: 300;margin: 0;line-height: 55px;
            b{font-weight: bold;display: block;}
        }
    }
    .block-3-items{display:flex;justify-content: space-between;align-items: flex-start;padding-top: 30px;padding-bottom: 45px;flex-wrap: wrap;
        .item{display: flex;flex-direction:column;padding: 0 15px;}
        .item-img{display:flex;justify-content: center;align-items: center;flex:1;height: 90px;}
        .item-text{max-width: 160px;text-align: center;color: white;font-size: 20px;font-family: 'ChalkboardSE';line-height: 1.2;padding-top: 20px;}
    }
    .block-3-humans{max-width: 600px;width: 100%;margin:0 auto;}
}


.block-4{
    .mbox{position: static;}
    .block-4-title{text-align: center;padding: 46px 0px;color: #1a2858;max-width: 856px;margin: 0 auto;
        h2{font-size: 60px;color: #1a2858;font-weight: 300;margin: 0;line-height: 55px;
            b{font-weight: bold;display: block;}
        }
    }
    .block-4-list{
        ul{list-style-type: none;margin: 0;padding:0;}
        li{position: relative;padding-left: 53px;font-size: 20px;color: #212121;
            &:last-child{
                p{display: flex;align-items:center;margin-top: 30px;
                    img{margin-right: 15px;}
                    i{font-weight: 300;font-style: italic;max-width: 280px;}
                }
            }
            &:after{content: '';background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAMAAABhTZc9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAulBMVEUAAABJz6dJz6dJz6dJz6dJz6dJz6dJz6dJz6dJz6dJz6dJz6dJz6dJz6dKz6e069uk59Ol59T4/fxu2bmR4sr9/v593cB/3cH+//6P4clw2br5/fxP0apN0Klj1rTx+/i57d2x6tnf9+9h1bNZ06/n+fPL8eZL0KhV0q3M8eb0/PlR0avb9e3a9e1Q0aqp6NWg5tFM0Kjm+PNY066F38T3/fvE7+JS0au67d5j1rNo17bw+/hv2bkAAAAaXfhsAAAADXRSTlMAJXe34fw9vA2iJNnnuf5yLwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAADlSURBVCjPhZPXGoIwDIVLWwSEuHHh3rjFheP9n0stRcrQ/jfJ10PLSZoiFKJgQlVQKcEKSpLTIELLxTTdgDiGHol5E5KY+a9oQRqLy7oJWZjB4QZkYzC38IuPcy29XCiWWGHvJmRsKleqLCoIp8WaXQ8SjEhKbDRbPCOIJsW2UwpTilQWO91wpdcffD9UURCHo3GQTKazeXQO37twl8zJar3ZgrCX/3e+s/cFOLjeUbBAI8+n8+Xq92+iQSLUe/cezjNmH4u9Wvj1eHFKZp85mvSO/t+vZDb+z5VkJiXzLHkLv97RC7rsJqnq1Ut8AAAAAElFTkSuQmCC) center center no-repeat;height: 30px;width: 30px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
        }
    }
    .block-4-kitty{height: 375px;display: flex;align-items:center;justify-content:center;
        &:after{background:transparent url('../images/block-4-bottom-bg.png') center center no-repeat;width: 100%;position: absolute;bottom: 0;left: 0;content: '';height: 100%;max-height: 405px;}
        .kitty{padding-left: 30%;}
        .kitty-text{position: relative;z-index: 10;color: #1a2858;font-size: 37px;font-style:italic;font-weight: 300;}
    }
}