<section class="block-4">
    <div class="mbox">
        <div class="block-4-wrap">
            <div class="block-4-title">
                <h2>Ты, наверное, думаешь опять очередная noname team’a? <b>Тогда немного о нас:</b> </h2>
            </div>
            <div class="block-4-list">
                <ul>
                    <li>
                        <p>Наша команда состоит из профессионалов рынка CPA, работаем с 2010 года.</p>
                    </li>
                    <li>
                        <p>У нас есть неограниченные бюджеты на траф, специальные условия в источниках (агентские кабинеты со скидками в МТ и Google, личные менеджеры во всех тизерках и многое многое другое)</p>
                    </li>
                    <li>
                        <p>К твоим услугам команда разработчиков, дизайнеров и прочих гиков IT сферы. Мы имеем возможность делать промо под запрос с любыми звездами и медийными личностями.</p>
                    </li>
                    <li>
                        <p>У нас специальные условия с повышенными ставками во всех ПП</p>
                    </li>
                    <li>
                        <p>
                            <img src="images/mdk-foo.png" alt="">
                            <i>Нашими партнерами является МДК, так что скучно не будет=)</i>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="block-4-kitty">
                <div class="kitty-text kitty">
                    <i>Не хватает лишь тебя…</i>
                </div>
            </div>
        </div>
    </div>
</section>