<section class="block-5">
    <div class="mbox">
        <div class="block-5-wrap">
            <div class="block-5-title-img animate">
                <img src="images/block-5-title-img.png" alt="">
            </div>
            <div class="block-5-title animate">
                <h2><b>Теперь небольшой тест </b> на проверку знаний</h2>
            </div>
            <div class="block-5-number animate">
                1
            </div>
            <div class="block-5-text animate">
                <div class="item item-1">
                    <span>Перетягивайте<br>офферы </span>
                </div>
                <div class="item item-2">
                    <img src="images/block-5-text-img-1.png" alt="">
                    <img src="images/block-5-text-img-2.png" alt="">
                </div>
                <div class="item item-3">
                    <p>Расположите эти офферы в порядке <br> появления на рынке от раннего к позднему</p>
                </div>
            </div>
            <div class="block-5-sortable">
                <div class="block-5-sortable-wrap item-1">
                    <div id="block-5-sortable1" class="">
                        <ul class="connectedSortable sort-item item_1"></ul>
                        <ul class="connectedSortable sort-item item_2"></ul>
                        <ul class="connectedSortable sort-item item_3"></ul>
                        <ul class="connectedSortable sort-item item_4"></ul>
                    </div>
                </div>
                <div class="block-5-sortable-wrap item-2">
                    <ul id="block-5-sortable2" class="connectedSortable">
                      <li><span class="block-sortable2-img" data-name="Ягоды "><img src="images/block-5-sortable2-1.png" alt=""></span></li>
                      <li><span class="block-sortable2-img" data-name="Green Coffee"><img src="images/block-5-sortable2-2.png" alt=""></span></li>
                      <li><span class="block-sortable2-img" data-name="Жидкий каштан"><img src="images/block-5-sortable2-3.png" alt=""></span></li>
                      <li><span class="block-sortable2-img" data-name="Slender"><img src="images/some-img.jpg" alt=""></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>