<section class="block-7">

    <div class="block-7-top">
        <div class="mbox">

            <form class="connect-form">
                <h2 class="title animate">Заполните <span>Анкету</span></h2>

                <div class="form-row">
                    <div class="form-input animate">
                        <input type="text" name="user_name" placeholder="Имя" required="required" />
                    </div>
                    <div class="form-input animate">
                        <input type="tel" name="user_telefone" class="tel-mask" placeholder="Телефон" required="required" />
                    </div>
                </div>


                <div class="form-row less-margin">
                    <div class="form-input animate">
                        <textarea name="user_comment" placeholder="O себе"></textarea>
                    </div>
                </div>

                <div class="form-description animate">Опишите по возможности подробно ваш опыт. С какими объемами работаете, какие направления приоритетны, как давно в арбитраже. Приложите скриншоты статы из ПП, если есть</div>

                <div class="form-row submit-row animate">
                    <button type="submit" class="button">
                        <span>Отправить</span>
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="block-7-bottom">
        <div class="mbox">

            <div class="block-7-bottom-wrap animate">
                <div class="block-7-img">
                    <img src="images/mdk-img.png" alt="" />
                </div>
                <div class="block-7-text">При поддержке <a href="#">MDK</a></div>
            </div>

        </div>
    </div>

</section>