<section class="block-6">

    <div class="block-6-triangle"></div>

    <div class="block-6-wrap">

        <div class="mbox">

            <h2 class="title">2</h2>

            <div class="block-6-descript">

                <div class="descript-left">
                    <div class="descript-text">Перетаскивайте<br />значки сетей</div>
                    <div class="descript-image">
                        <img src="images/drag-mouse-img.png" alt="" />
                    </div>
                </div>

                <div class="descript-right">В какой из тизерных сетей<br />лучше всего зайдут эти тизеры?</div>

            </div>

            <div class="block-6-drag">
                <div class="block-6-drag-wrap">

                    <div class="block-6-tuzer">
                        <img src="images/tuzer1.png" alt="" />
                    </div>

                    <div class="drag-field">
                        <div class="drag-field-descript">
                            <div class="descript-big">Drag&Drop</div>
                            <div class="descript-small">Перетаскивайте сюда<br />значки тизерных сетей</div>
                        </div>
                        <div class="drag-field-main" data-drag-field=1>
                            <ul></ul>
                        </div>
                    </div>

                    <div class="drag-field-items">
                        <ul>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item1.png" data-tuzer-name="drag-field-item1.png" alt="" />
                                </div>
                                <div class="drag-item-text">DirectAdvert</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item2.png" data-tuzer-name="drag-field-item2.png" alt="" />
                                </div>
                                <div class="drag-item-text">MarketGid</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item3.png" data-tuzer-name="drag-field-item3.png" alt="" />
                                </div>
                                <div class="drag-item-text">GlobalTeaser</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item4.png" data-tuzer-name="drag-field-item4.png" alt="" />
                                </div>
                                <div class="drag-item-text">NovostiMira</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item5.png" data-tuzer-name="drag-field-item5.png" alt="" />
                                </div>
                                <div class="drag-item-text">BodyClick</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item6.png" data-tuzer-name="drag-field-item6.png" alt="" />
                                </div>
                                <div class="drag-item-text">BodyClick</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item7.png" data-tuzer-name="drag-field-item7.png" alt="" />
                                </div>
                                <div class="drag-item-text">AdvertLink</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item8.png" data-tuzer-name="drag-field-item8.png" alt="" />
                                </div>
                                <div class="drag-item-text">VisitWeb</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item9.png" data-tuzer-name="drag-field-item9.png" alt="" />
                                </div>
                                <div class="drag-item-text">kadam</div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="block-6-drag-wrap">

                    <div class="block-6-tuzer">
                        <img src="images/tuzer2.png" alt="" />
                    </div>


                    <div class="drag-field">
                        <div class="drag-field-descript">
                            <div class="descript-big">Drag&Drop</div>
                            <div class="descript-small">Перетаскивайте сюда<br />значки тизерных сетей</div>
                        </div>
                        <div class="drag-field-main" data-drag-field=2>
                            <ul></ul>
                        </div>
                    </div>

                    <div class="drag-field-items">
                        <ul>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item1.png" data-tuzer-name="drag-field-item1.png" alt="" />
                                </div>
                                <div class="drag-item-text">DirectAdvert</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item2.png" data-tuzer-name="drag-field-item2.png" alt="" />
                                </div>
                                <div class="drag-item-text">MarketGid</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item3.png" data-tuzer-name="drag-field-item3.png" alt="" />
                                </div>
                                <div class="drag-item-text">GlobalTeaser</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item4.png" data-tuzer-name="drag-field-item4.png" alt="" />
                                </div>
                                <div class="drag-item-text">NovostiMira</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item5.png" data-tuzer-name="drag-field-item5.png" alt="" />
                                </div>
                                <div class="drag-item-text">BodyClick</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item6.png" data-tuzer-name="drag-field-item6.png" alt="" />
                                </div>
                                <div class="drag-item-text">BodyClick</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item7.png" data-tuzer-name="drag-field-item7.png" alt="" />
                                </div>
                                <div class="drag-item-text">AdvertLink</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item8.png" data-tuzer-name="drag-field-item8.png" alt="" />
                                </div>
                                <div class="drag-item-text">VisitWeb</div>
                            </li>
                            <li>
                                <div class="drag-item-wrap">
                                    <img src="images/drag-field-item9.png" data-tuzer-name="drag-field-item9.png" alt="" />
                                </div>
                                <div class="drag-item-text">kadam</div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>