<section class="block-1">

    <div class="block-1-slider">
        <div class="slider-img">
            <img src="images/top-block-slider-img1.jpg" alt="" />
        </div>
        <div class="slider-img">
            <img src="images/top-block-slider-img2.jpg" alt="" />
        </div>
        <div class="slider-img">
            <img src="images/top-block-slider-img3.jpg" alt="" />
        </div>
    </div>

    <div class="block-1-main">

        <div class="mbox">

            <div class="logo">
                <img src="images/logo.png" alt="">
                <p>Арбитраж начинается здесь!</p>
            </div>

            <div class="info-block-items">

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">Белая<br />компания</div>
                </div>

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">от 150.000 р.<br />в месяц</div>
                </div>

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">Лучшая<br />команда </div>
                </div>

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">Комфортный<br />офис в центре Москвы</div>
                </div>

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">Агентские<br />кабинеты</div>
                </div>

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">Бонусы<br />за KPI</div>
                </div>

                <div class="info-item">
                    <div class="info-item-img"></div>
                    <div class="info-item-text">Возможность<br />расти</div>
                </div>

            </div>

            <div class="top-block-info">
                <div class="top-block-info-wrap">Важно понимать - у нас все серьезно!</div>
                <div class="top-block-info-wrap">
                    <p>Это серьезная работа с графиком 5/2, с стабильной зарплатой.</p>
                    <p>Если ты хочешь заниматься любимым делом, получить финансовую стабильность и рост, тогда welcome!</p>
                </div>
            </div>

        </div>

    </div>

</section>